<section class="order about">
  <div class="container order__container">
    <div class="">
      <div class="double-title order__double-title">
        <span class= "double-title__span">Лучшая </span> итальянская пиццерия!
      </div>
      <div class="order__text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid, aspernatur, assumenda aut deserunt doloremque ea eaque labore laborum minima mollitia nesciunt provident quae quaerat quasi quis saepe sapiente totam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid, aspernatur, assumenda aut deserunt doloremque ea eaque labore laborum minima mollitia nesciunt provident quae quaerat quasi quis saepe sapiente totam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid, aspernatur, assumenda aut deserunt doloremque ea eaque labore laborum minima mollitia nesciunt provident quae quaerat quasi quis saepe sapiente totam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid, aspernatur, assumenda aut deserunt doloremque ea eaque labore laborum minima mollitia nesciunt provident quae quaerat quasi quis saepe sapiente totam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid, aspernatur, assumenda aut deserunt doloremque ea eaque labore laborum minima mollitia nesciunt provident quae quaerat quasi quis saepe sapiente totam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid, aspernatur, assumenda aut deserunt doloremque ea eaque labore laborum minima mollitia nesciunt provident quae quaerat quasi quis saepe sapiente totam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid, aspernatur, assumenda aut deserunt doloremque ea eaque labore laborum minima mollitia nesciunt provident quae quaerat quasi quis saepe sapiente totam.
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="pizza" class="order__image-img">
      <img src="assets/images/pizza_big.png" alt="pizza" class="order__image-img">
    </div>

  </div>
</section>

<app-popup [data]="'about component'"></app-popup>
